body {
  background-color: #6699ff;
}

.jumbotron {
  text-align: center;
  color: #ff99cc;
  background-color: white;
}

img {
  float:right;
  height:50px
  width:auto;

}

li, p {
  color: #ff99cc;
  font-size: 2em;
}
