body {
  background-color:#FDB927;
  color: #008348;
}

.jumbotron {
  text-align: center;
  color: #552582;
  background-color:#008348;
}

#imgMain {
  float:right;
  height:50px
  width:auto;
}

li, p {
  font-size: 2em;
}

#bust1 {
  display:none;
  text-align: center;
}

#bust2 {
  display:none;
  text-align: center;
}

#donWin {
  display:none;
  float:right;
  text-align:right;
}

#tubbsWin {
  display:none;
  float:left;
  text-align:left;
}

#player2 {
  display:none;
}


#holdPlayer2 {
  display:none;
}

#donWinButton {
  float:right
}

#tubbsWinButton {
  float:left;
}
